@import "tailwindcss";



@theme {
  --color-avocado-100: oklch(0.53 0.12 118.34);
  /* Brown palette */
  --color-brown-50: oklch(0.98 0.01 50.12);
  --color-brown-100: oklch(0.95 0.02 50.08);
  --color-brown-200: oklch(0.91 0.03 50.05);
  --color-brown-300: oklch(0.87 0.04 50.03);
  --color-brown-400: oklch(0.82 0.05 50.01);
  --color-brown-500: oklch(0.75 0.06 50.00);
  --color-brown-600: oklch(0.65 0.07 50.00);
  --color-brown-700: oklch(0.58 0.08 50.00);
  --color-brown-800: oklch(0.50 0.09 50.00);
  --color-brown-900: oklch(0.30 0.10 50.00);

  /* Sage palette */
  --color-sage-50: oklch(0.98 0.01 140.22);
  --color-sage-100: oklch(0.95 0.02 140.18);
  --color-sage-200: oklch(0.91 0.03 140.15);
  --color-sage-300: oklch(0.87 0.04 140.13);
  --color-sage-400: oklch(0.82 0.05 140.11);
  --color-sage-500: oklch(0.75 0.06 140.10);
  --color-sage-600: oklch(0.65 0.07 140.10);
  --color-sage-700: oklch(0.58 0.08 140.10);
  --color-sage-800: oklch(0.50 0.09 140.10);
  --color-sage-900: oklch(0.30 0.10 140.10);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
